<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <a href="https://github.com/DaviMenezes/Dvi-for-Adianti" target="_blank">@DviAdianti</a>
    </div>
    <strong>Footer</strong>
</footer>
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
<!-- AdminLTE App -->
<script src="app/templates/{template}/js/app.min.js"></script>
<script src="app/templates/{template}/js/custom.js"></script>
<script src="app/include/widget_filters.js?appver=500"></script>
</body>
</html>